.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 200px auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
body{
	background: url(../images/bkg_content.png) repeat;
}
.service-location{
	margin-top: 10px;
}
#main-canvas{
	margin: 10px;
	height:722px;
	width: 100%;
}
#status-div{
	width: 15%;
	height: 100%;
	margin-left: 20px;
	float: left;
}
.player1-row, .player3-row{
	height: 200px;
	background-color: blue;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.player2-row{
	height: 400px;
	background-color: blue;
}
.playground{
	height: 400px;
	background-color: green;
}

#field-div{
	height: 100%;
	width: 80%;
	float: left;
	margin-left: 15px;	
}
#logged-user-div{
	width: 100%;
	height: 40%;
	
	padding: 10px 5px 0 5px;
}
#logged-user-div li{
	display:block;
	height: 30px;
	background-color: red;
	border-radius: 4px;
	margin-bottom:2px;
}

#logged-user-div ul{
	padding-left: 0px;
	margin-left:0px;
}
.displayed-card{
	position: absolute;
	top: 30px;
}
.displayed-card:hover{
	top:10px;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  	border-radius: 4px;
  	border: 1px solid rgba(81, 203, 238, 1);
  	cursor: pointer;
}
.displayed-card-1{
	
}
.displayed-card-2{
	left: 40px;
	
}
.displayed-card-3{
	left: 70px;
	
}
.displayed-card-4{
	left: 100px;
	
}
ul.nav{
	float:right !important;
}
.container-fluid{
	background-color: #2D8EE4;
}
.panel-primary{
	max-width: 300px;	
	margin: 200px auto 20px;		
}
.panel-body .form-control{
	margin-bottom: 20px;
}
.bid-row td{
	padding: 4px;
}
.loginfail{
	border-color: red;
	border-width:2px;
}
.bid-row td img:hover:not(.img-clicked):not(.img-disable){
	border-top: 4px solid #B8D1F3;
	border-bottom: 4px solid #B8D1F3;
	cursor: pointer;
	background-color: #B8D1F3;
	border-radius: 2px;
}

.img-clicked{
	border-top: 4px solid #0099FF;
	border-bottom: 4px solid #0099FF;
	cursor: auto;
	background-color: #0099FF;
	border-radius: 2px;	
}
.img-disable{
	border-top: 4px solid #C8C8C8;
	border-bottom: 4px solid #C8C8C8;
	cursor: auto;
	background-color: #C8C8C8;
	border-radius: 2px;		 
}
.modal-content{
	width: 470px;
}
.pass-btn{
	width: 100%;
}
